li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    width: 1200px;
    margin: auto;
}

#top .topyi {
    height: 35px;
    line-height: 35px;
    background-color: rgb(248, 248, 248);
    color: #666;
    letter-spacing: 2px;
    font-size: 14px;
}

#top .topyi .topl a {
    float: left;
    color: #666;
}

#top .topyi .topl a:hover {
    color: rgb(234, 38, 38);
}

#top .topyi .topr {
    float: right;
}

#top .toper {
    height: 90px;
    line-height: 90px;
    background-color: #fff;
}

#top .toper img {
    width: 190px;
    float: left;
    margin-top: 22px;
}

#top .toper .sou {
    position: relative;
    float: left;
    margin-left: 130px;
}

#top .toper .sou input {
    width: 180px;
    height: 40px;
    padding: 0 45px 0 10px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: #f5f5f5;
    border: 0;
}

#top .toper .sou img {
    position: absolute;
    top: 14px;
    right: 15px;
    width: 25px;
}

#top .toper ul {
    float: right;
}

#top .toper ul li {
    float: left;
    transition: all 0.2s;
}

#top .toper ul li a {
    padding: 20px 25px;
    font-size: 21px;
    color: #333;
}

#top .toper ul li:hover {
    transform: scale(1.1);
}

#rebo {
    height: 800px;
}

.trebo {
    text-align: center;
}

.trebo h2 {
    font-size: 40px;
    height: 100px;
    line-height: 150px;
    letter-spacing: 10px;
}

.trebo h2 span {
    letter-spacing: 1px;
}

.trebo .lei {
    height: 70px;
    line-height: 50px;
}

.trebo .lei a {
    color: #aaa;
    font-size: 20px;
    padding: 0px 10px;
}

.trebo .lei a.red {
    color: rgb(234, 38, 38);
    ;
}


/* 热播 */

.xuan1 .list-adv {
    overflow: hidden;
}

.xuan1 .list-adv ul li:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 5px 3px rgba(194, 199, 200, 0.5);
}

.xuan1 .list-adv ul li {
    display: block;
    list-style: none;
    float: left;
    width: 285px;
    height: 550px;
    background-color: #fff;
    margin: 20px 20px 0 0;
    transition: all .2s;
}

.xuan1 .list-adv ul li:nth-child(4n) {
    margin-right: 0px;
}

.xuan1 .list-adv ul li .list-tu {
    height: 427px;
}

.xuan1 .list-adv li .list-tu img {
    width: 285px;
    height: 427px;
    cursor: pointer;
}

.xuan1 .list-adv li .list-zi .jieshao {
    padding: 16px;
}

.xuan1 .list-adv li .list-zi .jieshao a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.xuan1 .list-adv li .list-zi {
    height: 49px;
}

.xuan1 .list-adv li .list-zi .jieshao span {
    margin-top: 12px;
    font-size: 12px;
    color: #999;
}

.xuan1 .list-adv li .list-zi .zuozhe {
    height: 49px;
    line-height: 49px;
    border-top: 1px solid #eee;
}

.xuan1 .list-adv li .zuozhe .zuozhetu {
    width: 24px;
    height: 24px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 13px;
}

.xuan1 .list-adv li .zuozhe .zuozhetu img {
    width: 100%;
}

.xuan1 .list-adv li .list-zi .zuozhe div {
    font-weight: 500;
    display: inline-block;
    color: #333;
    font-size: 12px;
    margin-left: 10px;
}

.xuan1 .list-adv li .list-zi span {
    font-weight: 300;
    color: #999;
    font-size: 12px;
    margin-left: 10px;
}

#main {
    background-color: #fff;
}

#main .qifa,
#main .faxian {
    width: 1140px;
    height: 400px;
    margin: auto;
}

#main .qifa {
    height: 435px;
}

#main .jies {
    padding-top: 55px;
    width: 372px;
    float: left;
    height: 250px;
}

#main .faxian {
    margin-top: 120px;
}

#main .jies h4 {
    font-size: 28px;
    font-weight: 400;
}

#main .jies p {
    padding: 20px 0 60px 0;
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

#main .jies ul li {
    float: left;
    margin: 0 20px 25px 0;
}

#main .jies ul li a {
    display: block;
    padding: 0 26px;
    height: 36px;
    line-height: 36px;
    background-color: #f35c4c;
    color: #fff;
    font-size: 14px;
    border-radius: 100px;
    text-decoration: none;
}

#main .qifa .jies ul li a:hover {
    background-color: rgba(235, 31, 41, .6);
}

#main .jies ul li:last-child a {
    background-color: rgb(247, 247, 247);
    color: #f35c4c;
}

#main .jies ul li:last-child a:hover {
    background-color: rgba(40, 30, 40, .1);
}

#main .qifa .tu {
    width: 695px;
    height: 435px;
    float: right;
}

#main .qifa .tu li {
    width: 225px;
    height: 135px;
    float: left;
    margin: 0 10px 10px 0;
}

#main .qifa .tu li:nth-child(3n) {
    margin: 0 0 10px 0;
}

#main .qifa .tu li img {
    width: 100%;
}

#main .qifa .tu li:hover {
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
}

#main .jies ul li a:hover {
    background-color: rgba(27, 197, 181, .6);
}

#main .qifa .tu li {
    position: relative;
}

#main .qifa .tu li .yiny {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 13px;
    background: rgba(30, 31, 41, 0.9);
    padding: 25px 10px 0 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: none;
}

#main .qifa .tu li:hover .yiny {
    display: block;
}

#main .qifa .tu li .yiny p {
    margin-top: 45px;
    color: #999;
    font-weight: 300;
}

#main .faxian .jies {
    float: right;
}

#main .faxian .jies li a {
    background-color: rgb(27, 197, 181);
}

#main .faxian .jies li:last-child a {
    color: rgb(27, 197, 181);
}

#main .faxian .tu {
    width: 720px;
    height: 360px;
    background-color: rosybrown;
    float: left;
}

#main .faxian .tu li {
    width: 180px;
    height: 180px;
    float: left;
    overflow: hidden;
}

#main .faxian .tu li .lunbo {
    width: 540px;
    height: 180px;
}

#main .faxian .tu li .lunbo img {
    width: 180px;
    float: left;
}

#main .faxian .tu li:nth-child(1) .lunbo {
    animation: move 4s steps(3) 2.2s infinite;
}

#main .faxian .tu li:nth-child(2) .lunbo {
    animation: move 4s steps(3) 5.2s infinite;
}

#main .faxian .tu li:nth-child(3) .lunbo {
    animation: move 6s steps(3) 1.5s infinite;
}

#main .faxian .tu li:nth-child(4) .lunbo {
    animation: move 4s steps(3) 4.6s infinite;
}

#main .faxian .tu li:nth-child(5) .lunbo {
    animation: move 4.5s steps(3) 0s infinite;
}

#main .faxian .tu li:nth-child(6) .lunbo {
    animation: move 5.5s steps(3) 3.7s infinite;
}

#main .faxian .tu li:nth-child(7) .lunbo {
    animation: move 5s steps(3) 2.9s infinite;
}

#main .faxian .tu li:nth-child(8) .lunbo {
    animation: move 4s steps(3) 1s infinite;
}

@keyframes move {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -540px;
    }
}


/* 多彩 */

#duocai .xin {
    margin: 0 auto;
    position: relative;
}

#duocai .xin div {
    height: 700px;
}

#duocai img {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 46%;
    width: 1000px;
    transform: translate(-50%, -50%);
}


/* 类 */

#lei {
    height: 850px;
    background-color: #fff;
}

#lei .xin {
    width: 1015px;
    margin: auto;
}

#lei .xin .xin-l {
    width: 495px;
    float: left;
}

#lei .xin .xin-r {
    width: 495px;
    float: right;
}

#lei .xin .toptu {
    height: 379px;
    overflow: hidden;
    padding-bottom: 25px;
}

#lei .xin .toptu .toptu-l {
    float: left;
    width: 235px;
    height: 379px;
    overflow: hidden;
    overflow: hidden;
}

#lei .xin .toptu .toptu-l img {
    height: 100%;
}

#lei .xin .toptu .toptu-r {
    float: right;
    width: 235px;
    height: 100%;
}

#lei .xin .toptu .toptu-r img {
    width: 100%;
}

#lei .xin .toptu .toptu-r div {
    height: 177px;
    overflow: hidden;
}

#lei .xin .toptu .toptu-r .xuexi {
    padding-bottom: 25px;
}

#lei .xin .butu {
    height: 215px;
    overflow: hidden;
}

#lei .xin .butu img {
    height: 100%;
}

#lei .xin .xin-r .youtu-top {
    padding-bottom: 25px;
}

#lei .xin .xin-r .youtu-bu {
    padding-bottom: 0px;
}


/* 人 */

#ren {
    height: 715px;
    padding-top: 50px;
}

#ren .main .trebo {
    background-color: #fff;
}

#ren .ma-lis>ul>li {
    width: 1200px;
    height: 180px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 24px;
    box-sizing: border-box;
}

#ren .ma-lis ul li .l {
    width: 360px;
    height: 130px;
    float: left;
    padding: 0 10px 0 40px;
}

#ren .ma-lis ul li .l .tou {
    width: 82px;
    float: left;
}

#ren .ma-lis ul li .l .tou img {
    width: 80px;
    border-radius: 50%;
}

#ren .ma-lis ul .tou #ren .ma-lis ul li .r {
    width: 718px;
    height: 180px;
    float: left;
    background-color: wheat;
}

#ren .ma-lis ul li .l .tou span {
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    display: block;
    margin: 15px auto 0;
    text-align: center;
    color: #2B2B2B;
    border: 2px solid #E5E5E5;
    background-color: #FFFFFF;
    cursor: pointer;
}

#ren .ma-lis ul li .l .tou span:hover {
    border: 2px solid #aaa;
}

#ren .ma-lis ul li .l .n {
    width: 254px;
    height: 130px;
    margin-left: 10px;
    float: left;
}

#ren .ma-lis ul li .l .n {
    font-size: 14px;
    color: #333;
}

#ren .ma-lis ul li .l .n h3 {
    line-height: 50px;
    font-size: 24px;
}

#ren .ma-lis ul li .l .n span {
    font-size: 14px;
    line-height: 20px;
    color: #9e9e9e;
}

#ren .ma-lis ul li .l .n span.he {
    margin-top: 10px;
    display: block;
}

#ren .ma-lis ul li .r {
    width: 718px;
    height: 130px;
    float: left;
}

#ren .ma-lis ul li .r a {
    display: inline-block;
    width: 234px;
    height: 130px;
    background-color: violet;
    overflow: hidden;
}

#ren .ma-lis ul li .r a img {
    width: 100%;
    transition: all.2s;
}

#ren .ma-lis ul li .r a img:hover {
    transform: scale(1.1);
}


/* bottom部分 */

.bottom {
    height: 321px;
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
}

.bottom .bottom-n {
    height: 321px;
    width: 1140px;
    margin: auto;
    padding: 50px 20px;
    box-sizing: border-box;
}

.bottom .bottom-n .b-left {
    float: left;
    height: 100%;
    width: 545px;
}

.bottom .bottom-n .b-right {
    float: left;
    height: 100%;
    width: 545px;
    margin-top: 10px;
}

.bottom .bottom-n .b-left .b-logo {
    width: 200px;
    height: 60px;
}

.bottom .bottom-n .b-left .b-logo img {
    display: block;
    width: 345px;
    margin-top: 50px;
    height: 70px;
}

.bottom .bottom-n .b-left p {
    margin: 18px 0 39px 0;
    text-align: justify;
    line-height: 1.8;
    font-size: 12px;
    color: #999;
}

.bottom .bottom-n .b-right table {
    width: 500px;
    height: 221px;
}

.bottom .bottom-n .b-right td {
    width: 500px;
    font-size: 12px;
    font-weight: 300;
    color: #999;
    text-align: center;
    cursor: pointer;
}

.bottom .bottom-n .b-right td:hover {
    color: #000;
}